.header-bg {
  height: 600px;
  background: url("../../images/desktop/image-header.jpg");
  background-size: cover;
  background-position: center center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.header-menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.header-menu a {
  display: inline-block;
  padding: 10px 0px;
}

.header-title {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.header-title h1 {
  margin-top: 40px;
  margin-bottom: 60px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 3rem;
}

.header-menu .nav-contact {
  background-color: white;
  text-transform: uppercase;
  padding: 15px 20px;
  border-radius: 50px;
  transition: 0.3s;
}

.nav-contact:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.349);
}
