.grid-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 550px) {
  .grid-images {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 300px) {
  .grid-images {
    grid-template-columns: 1fr;
  }
}
