.testimonials {
  padding: 80px 25px;
}

.testimonials h3 {
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--color-4);
  letter-spacing: 0.2rem;
  font-size: 1.4rem;
}

.testimonials-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 0px 40px;
}

.testimonials-content {
  display: grid;
  justify-items: center;
  text-align: center;
  grid-template-rows: min-content;
}

.testimonials-content img {
  margin-bottom: 40px;
  border-radius: 50%;
}

.testimonials-content p {
  margin-bottom: 50px;
  max-width: 40ch;
}

.names {
  display: grid;
  align-content: end;
  grid-template-rows: min-content min-content;
}

span.font-par {
  font-size: 0.9rem;
}
