:root {
  /* Primary */
  --color-p1: hsl(7, 99%, 70%);
  --color-p2: hsl(51, 100%, 49%);
  --color-p3: hsl(167, 40%, 24%);
  --color-p4: hsl(198, 62%, 26%);
  --color-p5: hsl(168, 34%, 41%);

  /* Neutral */
  --color-1: hsl(212, 27%, 19%);
  --color-2: hsl(213, 9%, 39%);
  --color-3: hsl(232, 10%, 55%);
  --color-4: hsl(210, 4%, 67%);
  --color-5: hsl(0, 0%, 100%);
}

.color-p1 {
  color: var(--color-p1);
}
.color-p2 {
  color: var(--color-p2);
}
.color-p3 {
  color: var(--color-p3);
}
.color-p4 {
  color: var(--color-p4);
}
.color-p5 {
  color: var(--color-p5);
}

.color-1 {
  color: var(--color-1);
}
.color-2 {
  color: var(--color-2);
}
.color-3 {
  color: var(--color-3);
}
.color-4 {
  color: var(--color-4);
}
.color-5 {
  color: var(--color-5);
}
